body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  /*background-color: #5f788a;*/
  background-image: url("../../../media/bruce-warrington-oGSCKjhcJ9o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:0px,0px,15px,0px;
}
.nav-item{
  text-shadow: 1px 1px 1px #000,
  -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
#logo{
  height: 60px;
 
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  
}
.content-section {
  margin-top: 30px;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-home {
  margin-top: 30px;
}

.card, .about{
  margin-top: 30px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.artist-img{
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-right: 20px;
}

.construction-img{
  height: 220px;
  width: 140px;
}

.profile-img{
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}

.text-profile{
  margin-bottom: -0.5rem;
  margin-top: 30px;
}

.text-profile-logged-out{
  margin-left: 25px;
}