{% extends "museum/base.html" %}
{% block content %}
	{% for artist in artists %}     
		<article class="media content-section">
		  <img class="rounded-circle artist-img" src="{{ artist.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
	    	  <a class="mr-2" href="{% url 'museum-artist-detail' artist.id %}">{{ artist.name }}</a>
		      <small class="text-muted">Born in {{ artist.birth_date |date:"F d, Y" }}</small>
		    </div>
		    <p class="article-content">{{ artist.description | slice:"0:255" }}...</p>
		  </div>
		</article>     
	{% endfor %} 
{% endblock %}