{% extends "museum/base.html" %}
{% block content %}
	<h1 class="mb-3">Events by {{ view.kwargs.username }}</h1>
    {% for event in events %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ event.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-events' event.author.username %}">{{ event.author }}</a>
              <small class="text-muted">{{ event.event_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'museum-event-detail' event.id %}">{{ event.name }}</a></h2>
            <p class="article-content">{{ event.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}